.loader {
  margin: auto 0;
}

.display-name {
  margin-top: 35px;
  margin-bottom: 0;
}

.bio {
  width: 600px;
}

.link-buttons-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 380px;
}

.link-button {
  color: white;
  background-color: #1F2937;
  text-decoration: none;
  padding: 10px 0;
}
.link-button:hover {
  background-color: #243141;
}

.powered-by {
  margin-top: 48px;
  color: #5D6B88;
  text-decoration: none;
}
.powered-by:hover {
  text-decoration: underline;
}
