.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1E2940;
  padding: 16px 42px;
}

.logo {
  text-decoration: none;
  color: #6EE7B7;
  font-weight: bold;
  font-size: 24px;
}
.logo:hover {
  color: #59BE96;
}

.navLinks {
  display: flex;
  gap: 18px;
}

.navLink {
  text-decoration: none;
  font-weight: 500;
  color: white;
}
.navLink:hover {
  text-decoration: underline;
}

.navLinkActive {
  text-decoration: none;
  font-weight: 500;
  color: #6EE7B7;
}
.navLinkActive:hover {
  text-decoration: underline;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  margin: 40px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  text-align: center;
  background-color: #1E2940;
  height: 130px;
}

.footerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 42px;
  max-width: 1000px;
  width: 100%;
}

.copyright {
  font-size: 18px;
  font-weight: 600;
}

.socials {
  display: flex;
  gap: 24px;
}

.socialLink {
  color: white;
  transition: 0.3s transform;
}
.socialLink:hover {
  transform: scale(1.1);
}
