.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 42px;
  background-color: #1E2940;
}

.nav-links {
  display: flex;
  gap: 18px;
  font-weight: 600;
}

.footer {
  background-color: #1F2937;
  text-align: center;
  padding: 52px 0;
  margin-top: auto;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 12px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #6EE7B7;
  text-decoration: none;
}
.logo:hover {
  opacity: 0.8;
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 4px;
  color: white;
  text-decoration: none;
}
.nav-link:hover {
  text-decoration: underline;
}

.nav-link-active {
  color: #6EE7B7;
}

@media screen and (max-width: 1000px) {
  nav {
    padding: 20px 40px;
  }
}
