body {
  font-family: "Fira Mono", serif;
  background-color: #111827;
  color: white;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

.text-link {
  color: #6EE7B7;
  text-decoration: none;
}
.text-link:hover {
  text-decoration: underline;
}

.form {
  display: flex;
  flex-direction: column;
  width: 400px;
  gap: 12px;
}

.text-field {
  font-family: "Fira Mono", serif;
  font-size: 20px;
  padding: 13px 20px;
  background-color: #1F2937;
  color: white;
}
.text-field:focus {
  background-color: #243141;
}

.button {
  font-family: "Fira Mono", serif;
  font-size: 20px;
  padding: 13px 20px;
  background-color: #1F2937;
  border: none;
  color: white;
  cursor: pointer;
}
.button:hover {
  background-color: #243141;
}
