.link {
  text-decoration: none;
}

.link-button {
  display: flex;
  gap: 14px;
  justify-content: center;
  font-family: "Fira Mono", serif;
  font-size: 16px;
  padding: 12px 16px;
  color: white;
  border: none;
  cursor: pointer;
  width: 384px;
}
.link-button:hover {
  opacity: 0.9;
}
